@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  @apply font-poppins;
}

.bgContainer {
  background: url("../public/images/Background/Image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgChamusca {
  position: relative;
  background-image: url("../public/images/Background/Chamusca.jpg");
  background-position: center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
}

.bgHero {
  position: relative;
  background-image: url("../public/images/Background/Image1.png");
  background-position: center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
