@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  @apply font-sans;
}

.bgContainer {
  background: linear-gradient(
      to bottom,
      rgba(17, 96, 137, 0.9),
      rgba(17, 96, 137, 0.9)
    ),
    url("../public/images/Background/Image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgChamusca {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(17, 96, 137, 0.95),
      rgba(17, 96, 137, 0.95)
    ),
    url("../public/images/Background/Chamusca.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgHero {
  background: linear-gradient(
      to bottom,
      rgba(17, 96, 137, 0.9),
      rgba(17, 96, 137, 0.9)
    ),
    url("../public/images/Background/Image1.png");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
